body {
  background-image: linear-gradient(rgb(198, 238, 211), rgb(81, 235, 233))
}

.h1 {
  font-style: sans-serif;
  font-weight: bold;
  color: rgb(106, 4, 135);
  text-align: center;
  margin-top: 50px;
}

.img {
  left: 50%;
  position: relative;
  transform: translate(-50%);
  border: 10px solid rgb(106, 4, 135);
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.p {
  left: 50%;
  position: relative;
  transform: translate(-50%);
  text-align: center;
  font-style: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(106, 4, 135);
  width: 1000px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}



.hidden {
  display: none;
}